body {
    background: rgb(35, 19, 80);
}

.birdStrikeMonth {
    width: 530px;
    height: 270px;
}

.birdStrikeSize {
    width: 530px;
    height: 270px;
}

.barChartClass {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.birdStrikeCount {
    width: 400px;
    height: 370px;
}

.pieChartClas{
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    color: white;
}
